
.home-container {
    background-image: var(--linear-color);
    height:86.7vh; 
    font-family: 'Roboto Slab', serif;
    color:var(--full-white);  
}

.brand-logo-home{
    width:18rem;
}


.exploreBtn{
    padding:0.6rem 1rem;
    background-color:var( --blue-dark);
    border: 3px solid rgb(219, 184, 184);
    color:var( --white-200);
    border-radius:0.2rem 0.5rem;
}

.exploreBtn:hover{
    background-color:var(--blue-900);
    color:var( --white-200);
}


