@import url(../Video-list/videos.css);

.single-video-container{
    display: grid;
    grid-template-columns: 12.5rem 1fr 20.5rem;
    color: var(--full-white);
    font-family: 'Playfair Display SC', serif;
}

.Suggestions-heading{
    text-decoration: underline;
}


@media screen and (max-width:1343px) {
    .single-video-container{
        display: grid;
        grid-template-columns: 12.5rem 1fr 20.5rem;
    }
    iframe {
        width: 100%;
        height: 60vh;
        padding: 0.2rem;
    }
}



@media screen and (max-width: 1190px) {
    .single-video-container{
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 3.5rem;
    }
}