
.single-video-container{
    display: grid;
    grid-template-columns: 12.5rem 1fr 20.5rem;
    color: var(--full-white);
    font-family: 'Playfair Display SC', serif;
}

.Suggestions-heading{
    text-decoration: underline;
}
