.Likes-container{
    display: grid;
    grid-template-columns: 12.5rem 1fr;
    color:var(--full-white);
    font-family: 'Playfair Display SC', serif;
    min-height: 86vh;
}

.likes-video-contain{
    display: grid;
    grid-template-columns: repeat(4,1fr );
    min-height:84vh;

}


