.history-container {
    display: grid;
    grid-template-columns: 12.5rem 1fr;
    color: var(--full-white);
    font-family: 'Playfair Display SC', serif;
    min-height: 86.90vh;
}

.history-video-contain{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    min-height:84vh;

}

.clearBtn {
    background-color: rgb(7 89 133);
    color: var(--full-white);
    font-weight: bold;
}

.history-video {
    position: relative;
}

@media screen and (max-width: 1190px) {
    .history-container {
        display: grid;
        grid-template-columns: 1fr;
    
    }

}

@media screen and (max-width: 985px) {
    .history-video-contain {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 3.5rem;
    }
}

@media screen and (max-width: 850px) {
    .history-video-contain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 560px) {
    .history-video-contain {
        display: grid;
        grid-template-columns: 1fr;
    }
}

