.history-container {
    display: grid;
    grid-template-columns: 12.5rem 1fr;
    color: var(--full-white);
    font-family: 'Playfair Display SC', serif;

}

.clearBtn {
    background-color: rgb(7 89 133);
    color: var(--full-white);
    font-weight: bold;

}

.history-video {
    position: relative;
}


.trash-icon {
    position: absolute;
    right: 1rem;
    bottom:6.5rem;
}