.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;

}

.align-center {
    align-items: center;
}
.text-align {
    text-align: center;
}
.gap-5p{
    gap:0.4px
}
.gap-8p{
    gap:0.5rem;
}
.gap-9p{
    gap:0.3rem
}
.gap-10px{
    gap:0.7rem;
}
.gap-14p{
    gap:0.9rem;
}
.gap-1r{
    gap:1rem;
}

.gap-18p{
    gap:1.2rem;
}
.gap-2r{
    gap:2rem;
}
.gap-3r{
    gap:3rem;
}


.font-18p{
    font-size:1.2rem;
}
.font-16p{
    font-size:1rem;
}
.font-26p{
    font-size:1.6rem;
}

.margin-1r{
    margin: 1rem;
}
.margin-8p{
    margin:0.5rem;
}
.margin-2p{
    margin:0.1rem;
}
.margin-1r{
    margin: 1rem;
}
.margin-top-22p{
    margin-top:1.5rem;
}

.margin-top-32p{
    margin-top: 2rem;
}

.margin-top-16p{
    margin-top: 1rem;
}
.margin-top-8p{
    margin-top: 0.5rem;
}
.margin-2r{
    margin: 2rem;
}
.margin-22p{
    margin: 1.5rem;
}
.padding-4px{
    padding:0.2rem;
}
.padding-22px{
    padding:1.5rem;
}
.padding-17p{
    padding:1.1rem;
}
.padding-24p{
    padding:1.8rem;
}
.padding-8p{
    padding:0.5rem;
}

.padding-2px{
    padding: 0.3rem;
}

.position-sticky{
    position:sticky;
}

.position-sticky-6r{
    position:sticky;
    top:6.2rem;
}


.position-sticky{
    position:sticky;
    top:0;
}

.positon-relative{
    position: relative;
}

.z-index-1{
    z-index: 1;
}



