
.genreChips-container {
    background-color: var(--black-1000);
}

.genre-btn {
    border-radius: 0.5rem;
    border: solid 2px var(--full-white);
    font-weight: bold;
    background-image: var(--linear-color);
    color: var(--full-white);
}

.genreFocus{
    border-radius: 0.5rem;
    border:4px solid rgb(190, 14, 161);
    font-weight: bold;
    color: var(--full-white);
    background-image: var(--linear-color);
}
