@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Libre+Bodoni:ital@1&family=Permanent+Marker&family=Roboto+Slab&family=Rubik+Wet+Paint&family=Satisfy&family=Shadows+Into+Light&family=Tapestry&display=swap');

.videolist-contain{
    margin-left:0.5rem;
    font-family: 'Playfair Display SC', serif;
}
.video-img{
    width:19rem;

}

.videos-detail{
    margin:1rem 0.2rem 1rem 0;

}

.videos-detail:hover{
    transform: scale(1.1);
    transition: .5s;
}

.about-video{
    padding-top:0.5rem;

}

.badge-img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}


.showIcon{
    position: absolute;
    background-color: rgb(7 89 133);
    color:var(  --full-white);
    top:0.2rem;
    right:0.8rem;
    width: fit-content;
  
}

.model-container{
    border:2px solid var(--black-1000);
    width: fit-content;
    background-color:var(--full-white);
    height: fit-content;
    position: absolute;
    top:25rem;
    left:40rem;
    transform: translate(-50%,-50%);
    color:var(--black-1000);
}

.cross-icon{
    position: absolute;
    top:0.2rem;
    right:0.5rem;
}
.create-btn{
    width:4.5rem;
}
