
:root{
  --linear-color: linear-gradient(to bottom, rgb(0 0 0),  rgba(9,1,40,255),rgb(7 44 117),rgb(0 0 0));
  --hoverText-color:#c026d3;
  --wheat-200 : wheat;
  --purple-700:rgb(89, 52, 124);
  --full-white:white;
  --blue-dark:rgb(3, 22, 87);
  --blue-900:rgb(4, 2, 34);
  --white-200:#e0d2d6;
  --grey-100:#1c1917;
  --black-1000:black;

}


.hoverText:hover{
  color:var(--hoverText-color);
}

img{
  vertical-align: middle
}

*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
html{
  font-size:16px;
}
li{
  list-style-type: none;

}
i{
  cursor: pointer;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
.App{
  background-image: var(--linear-color);


}
