.auth-container {
    color: var(--full-white);
    height: 86.77vh;
    font-family: 'Roboto Slab', serif;
}

.auth-contain {
    width: 21rem;
    border: 3px solid var(--pink-500);
    border-radius: 0.5rem;

}

.auth-detail-input {
    width: 18.5rem;
    outline: none;
    padding: 0.20rem;
}

.checkbox-remember {
    margin-left: -9rem;
}

.loginbtn-createAcount {
    width: 17rem;
    background-image: var(--linear-color);
    color: var(--full-white);
}

.createBtn-alreadyBtn {
    border: none;
    background-color: var(--black-1000);
    color: var(--full-white);
}

.login-guest {
    width: 15rem;
    background-color: var(--pink-100);
}
